@import url('https://fonts.googleapis.com/css2?family=Inter&family=Space+Grotesk:wght@500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  color: #181b36;
  height: 100%;
}
main {
  min-height: 100%;
  padding-bottom: 90px;

}
footer {
  min-height: 90px;
}
.image-slider {
  width: 100%;
  height: 100%;
}
